.bodyDivKvas {
    background-color: #cccccc;
    background-image: url('background.jpg');
  background-position:  top 47% center ;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bodyTextType {
  font-family: 'FontAwesome';
}

/* .RiadokDiv {
  
} */
#alertik {
  background-color: #13292A;
  color: white;
  text-align: center;
  border-radius: 10px;
  /* font-family:  'FontAwesome'; */
  font-size: larger;
 
  
}
.texFormating{
  padding: 0;
  
}
.Text{
  color: white;
  background-color: #13292A;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  padding: 35px;
  
  
}

.Text2 {
  color: white;
  background-color: #13292A;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: left;
  padding: 35px;
  margin-top: 15px;
 
}

/* .fotoZ {
  height: 60vh;
  border-radius: 10px;
  background-image: url("kvas-zle-zalozeny-ukazka.jpg");
  background-size: cover;
} */

.zarovnaj {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fotoZ2 {
  height: 60vh;
  border-radius: 10px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/*  tabulka zarovnanie */
.stredTabu {
  text-align: center;
}